/* Add CSS Styling */
#second {
    color: rgba(0, 0, 255, 1);
    font-size: 36px;
}

#fourth {
    background-color: rgba(128, 255, 128, 0.7);
    font-size: 24px;
    font-weight: bold;
}

.odd {
    background-color: rgba(255, 64, 64, 0.7);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.odd.third {
    font-size: 24px;
}
